body {
  margin: 0;
  font-family: "Nunito";
  background-color: #ece4db;
  
}
.container {
  position: relative;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 50px;
  margin-bottom: 20px;
  color: #76492f;
}

.header a {
  text-decoration: none;
  color: #ece4db;
}
.header {
  padding: 0;
  background-color: #69381c;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0%;
  z-index: 12;
}
.tabs {
  display: flex;
  flex-grow: 0.3;
  justify-content: space-evenly;
}
.tabs a:hover {
  border-bottom: 4px solid #ece4db;
  transition: all 0.3s;
}
.tabs1 {
  display: flex;
  flex-grow: 0.1;
  justify-content: space-evenly;
}

.grid img {
  width: 20vw;
  height: 20vw;
  border-radius: 5px;
}

.grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card h2 {
  font-size: medium;
}
.card {
  padding: 10px;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #69381c;
  color: white;
  border-radius: 5px;
  transition: all 1s;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #69381c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ece4db;
}
.footer {
  background-color: #69381c;
  display: flex;
  font-family: "Nunito";
  align-items: center;
  height: 60px;
  color: white;
  justify-content: space-evenly;
}

.line {
  rotate: 90deg;
  font-weight: bold;
}
.social img {
  width: 30px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.soc_icons {
  width: 10vw;

  display: flex;
  justify-content: space-between;
}
.store {
  text-decoration: none;
  color: #ece4db;
  border-radius: 2px;
  border: solid 2px #ece4db;
}
